!**/src/main/**/build/
!**/src/test/**/build/
!.mvn/wrapper/maven-wrapper.jar
$RECYCLE.BIN/
*#
*.BACKUP.*
*.BASE.*
*.DS_Store
*.LOCAL.*
*.REMOTE.*
*.bak
*.cab
*.class
*.ctxt
*.ear
*.iml
*.ipr
*.iws
*.jar
*.launch
*.lnk
*.log
*.msi
*.msix
*.msm
*.msp
*.nar
*.orig
*.pydevproject
*.rar
*.stackdump
*.sublime-*
*.sw?
*.swp
*.tar.gz
*.tmp
*.war
*.zip
*_BACKUP_*.txt
*_BASE_*.txt
*_LOCAL_*.txt
*_REMOTE_*.txt
*~
*~.nib
.#*
.apt_generated
.apt_generated/
.autotools
.buildpath
.cache-main
.classpath
.cproject
.exercism
.externalToolBuilders/
.factorypath
.gradle
.idea
.loadpath
.metadata
.mtj.tmp/
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.project
.recommenders
.recommenders/
.scala_dependencies
.settings
.settings/
.springBeans
.sts4-cache
.sts4-cache/
.target
.tern-project
.texlipse
.vscode/
.worksheet
/.nb-gradle/
/dist/
/nbbuild/
/nbdist/
/nbproject/private/
/scratch
/target/
README.html
Thumbs.db
[Dd]esktop.ini
bin
bin/
build
build/
buildNumber.properties
dependency-reduced-pom.xml
ehthumbs.db
ehthumbs_vista.db
hs_err_pid*
local.properties
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
release.properties
target
target/
tmp/
